<div class="card mb-4 w-100 my-4">
        <div class="card-header bg-warning text-left">
          <h4 class="card-title">0. Before Starting</h4>
        </div>
        <div class="card-body text-left">
          <p class="card-text">
            Read the documentation to get more details about this tool.
          </p>
          <div class="collapse" id="documentation-collapse">
            <div class="text-left">
              {{ section.body|safe }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-dark btn-block" data-toggle="collapse" data-target="#documentation-collapse" onclick="setCollapseArrow(this)"><i class="fas fa-angle-double-down transparent-element"></i></button>
        </div>
      </div>

