<div class="jumbotron jumbotron-fluid" id="home-banner">
  <div class="container text-center">
    <h1 class="display-4 text-dark">Network Tools</h1>
    <p class="lead text-dark">A collection of scripts to build and compare networks.</p>
    <hr class="my-4">
    <div class="row my-4">
      <div class="col-sm-4 ml-auto mr-auto">
        <a href="{% url 'documentation:index' %}" class="btn btn-warning btn-block my-1"><i class="fas fa-book"></i> Read the Documentation</a>
      </div>
    </div>
  </div>
</div>
