<div class="card w-100 my-4">
    <div class="card-body text-left">
        <h4 class="card-title mb-4">1. Upload Files</h4>
        <p class="card-text">Upload one or multiple <strong>.txt</strong> or <strong>.docx</strong> files.</p>        
    </div>
    <div class="card-footer">
        <div class="form-group">
            <input class="form-control" type="file" id="file-input" name="input-files" accept=".txt,.docx" multiple required>
        </div>
    </div>
</div>

<div class="card w-100 my-4">
    <div class="card-body text-left">
        <h4 class="card-title mb-4">2. Choose Output <strong>.csv</strong> Name</h4>
        <p class="card-text">Enter a name for the output <strong>.csv</strong> events file.</p>        
    </div>
    <div class="card-footer">
        <div class="form-group">
            <input class="form-control" type="text" id="output-events-csv" name="output-events-csv" placeholder="e.g. 2010 Events, NY Events, CA Events, etc." required>
        </div>
    </div>
</div>  

<div class="card w-100 my-4">
    <div class="card-body text-left">
        <h4 class="card-title mb-4">3. Build Events</span></h4>
        {% if request.GET.csv %}
            <p class="lead" id="task-status">{{ request.GET.csv }}.csv was downloaded!</p>
        {% endif %}
    </div>
    <div class="card-footer">
        <div class="form-group" id="btn-content">
            {% if request.GET.task %}
                <button type="submit" id="build-matrices-btn" class="btn btn-dark btn-block" name="button"> 
                    Building <i class="fas fa-spinner fa-spin"></i>
                </button>
            {% else %}
                <button type="submit" id="build-matrices-btn" class="btn btn-dark btn-block" name="button"> 
                    Build <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>
            {% endif %}
        </div>
    </div>
</div>