<div class="card-deck">
  <div class="card">
    <div class="card-body text-left">
      <h4 class="card-title mb-4">{{ build_events.title }}</h4>
      {{ build_events.body|safe }}
    </div>
    <div class="card-footer">
      <div class="text-center">
        <a href="{% url 'network_tools:build_events' %}" class="btn btn-dark">Build <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-left">
      <h4 class="card-title mb-4">{{ event_networks_card.title }}</h4>
      {{ event_networks_card.body|safe }}
    </div>

    <div class="card-footer">
      <div class="text-center">
        <a href="{% url 'network_tools:build_enets' %}" class="btn btn-dark">Build <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-left">
      <h4 class="card-title mb-4">{{ pair_networks_card.title }}</h4>
      {{ pair_networks_card.body|safe }}
    </div>
    <div class="card-footer">
      <div class="text-center">
        <a href="{% url 'network_tools:build_pnets' %}" class="btn btn-dark">Build <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-left">
      <h4 class="card-title mb-4">{{ compare_networks.title }}</h4>
      {{ compare_networks.body|safe }}
    </div>
    <div class="card-footer">
      <div class="text-center">
        <a href="{% url 'network_tools:compare_nets' %}" class="btn btn-dark">Compare <i class="fas fa-exchange-alt" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
