<div class="jumbotron jumbotron-fluid" id="home-banner">
  <div class="container text-center">
    <h1 class="display-4 text-dark">Build Networks From Events</h1>
    <p class="lead text-dark">Build one or many networks from <strong>.csv</strong> events spreadsheets.</p>
    <hr class="my-4">
    <div class="row my-4">
      <div class="col-sm-4">
        <a href="{% url 'network_tools:build_events' %}" class="btn btn-dark btn-block my-1">Build Events from Files</a>
      </div>
      <div class="col-sm-4">
        <a href="{% url 'network_tools:build_pnets' %}" class="btn btn-dark btn-block my-1">Build Networks from Node Pairs</a>
      </div>
      <div class="col-sm-4">
        <a href="{% url 'network_tools:compare_nets' %}" class="btn btn-dark btn-block my-1">Compare Networks</a>
      </div>
    </div>
  </div>
</div>
